.category{
    background-color: rgb(138, 140, 140);
    margin: 2px;
    padding: 5px;
    color: white;
    
}
.category:hover{
    background-color: rgb(83, 83, 83);
    
}

.sorting{
    padding: 5px;
    background-color: rgb(138, 140, 140);
    color: white;
    border: 1px solid white;
    border-radius: 5px;
}